@* <AuthorizeView> *@
@*     <Authorized> *@
@*         <a href="#">Hello, @context.User.Identity?.Name!</a> *@
@*         <form method="post" action="#"> *@
@*             <button type="submit" class="nav-link btn btn-link">Log out</button> *@
@*         </form> *@
@*     </Authorized> *@
@*     <NotAuthorized> *@
@*         <a href="/register">Register</a> *@
@*         <a href="/login">Log in</a> *@
@*     </NotAuthorized> *@
@* </AuthorizeView> *@